.App{
    background-color: rgb(206, 207, 209);
    height: 100vh;
    display: grid;
    place-items: center;
}

.app_body{
    display: flex;
    background-color: rgb(240, 243, 250);
    height: 90vh;
    width: 90vw;
    margin-top: -50px;
    box-shadow: -8px 4px 20px -6px rgba(0, 0, 0, 0.2), -2px -2px 10px -3px rgba(0,0,0,1);
}